body {
}


#mainTitle {
    color: #000000;
    text-align: left;
}


.gridBox {
    display: grid;
    margin: 10px;
}

.GridBoxTitle {
    text-align: center;
    font-size: 30px;
}

.GridBoxText {
    display: grid;
    margin: 10px;
}

.topbar {
    display: block;
    height: 500px;
}
